<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <client />
    <behaviors>      
        <endpointBehaviors>
          <behavior name="Basic" />
          <behavior name="WebJson">
            <webHttp defaultOutgoingResponseFormat="Json" faultExceptionEnabled="true" />
      
          </behavior>
            <behavior name="WebXML">
            <webHttp defaultOutgoingResponseFormat="Xml" faultExceptionEnabled="true" />
         
          </behavior>
        </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующим параметрам значение "false". -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true.  Перед развертыванием установите значение false, чтобы избежать раскрытия информации об исключении -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>


    <bindings>
      <basicHttpBinding>
        <binding name="Basic" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="524288000"
                 maxBufferSize="65536000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebJson" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="65536000"
                 maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
        <binding name="WebXML" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="65536000"
                 maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="65536000"
                        maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="65536000" />
        </binding>
      </webHttpBinding>
    </bindings>


    <services>
      <service name="LotteryWcfService.ServiceMain">
        <endpoint address="basic" behaviorConfiguration="Basic" binding="basicHttpBinding"
          bindingConfiguration="Basic" name="Basic"  bindingNamespace="http://localhost:58619/ServiceMain.svc"
          contract="WcfServiceLibrary.IServiceMain" />
        
        <endpoint address="json" behaviorConfiguration="WebJson" binding="webHttpBinding"
          bindingConfiguration="WebJson" name="WebJson"  bindingNamespace="http://localhost:58619/ServiceMain.svc"
          contract="WcfServiceLibrary.IServiceMain" />
        
        <endpoint address="xml" behaviorConfiguration="WebXML" binding="webHttpBinding"
          bindingConfiguration="WebXML" name="WebXML" bindingNamespace="http://localhost:58619/ServiceMain.svc"
          contract="WcfServiceLibrary.IServiceMain" />
      </service>
    </services>


    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <connectionStrings>
    <add name="lotteryDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=lotteryDB;Integrated Security=True" />
  </connectionStrings>

</configuration>
